.content {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3cpath d='M19 250L269 0L362 0L112 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M255.60000000000002 250L505.6 0L582.1 0L332.1 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M521.2 250L771.2 0L1036.7 0L786.7 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M755.8000000000001 250L1005.8000000000001 0L1104.8000000000002 0L854.8000000000001 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M1406 250L1156 0L893.5 0L1143.5 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M1178.4 250L928.4000000000001 0L865.4000000000001 0L1115.4 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M960.8 250L710.8 0L547.3 0L797.3 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M716.1999999999999 250L466.19999999999993 0L118.19999999999993 0L368.19999999999993 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M1268.631824106424 250L1440 78.63182410642392L1440 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M0 250L171.36817589357608 250L 0 78.63182410642392z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1018'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1019'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");min-height: 100vh;
  min-width: 100vw;
}
table {
  width: 80vw;
  height: 50vh; 
}

.tg  {

  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  border-collapse:collapse;
  border-spacing:0;
  /* border-bottom: 3px double black; */
  /* margin-bottom: 10%; */
  
}
.tg td{
  
    background-color:transparent;
    border-color:inherit;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align:left;
    vertical-align:top;
    padding: 5px;
}
.tg th{
  
    background-color:transparent;
    border-color:inherit;
    color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align:center;
    vertical-align:top;
}
.tg .tg-0lax{
  
    background-color:transparent;
    border-color:inherit;
    color:#000000;
  font-family:"Comic Sans MS", cursive, sans-serif;
  text-align:left;
  vertical-align:top
}
.th .tg-0lax{
  
  background-color:transparent;
  border-color:inherit;font-family:"Comic Sans MS", cursive, sans-serif ;
  text-align:center;
  margin: 20px;
  vertical-align:top;
}
.th .tg-0lax{
  
  border-color:inherit;
  text-align:center;
  vertical-align:top
}
@media (max-width: 768px) {
  table {
    max-width: 20%;
    height:30%; 
    font-size: 10px;

  }
  .table-container{
    overflow-x:auto;
  }
}