.content {

  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 80vw;
  height: 50vh;
}

.tg  {

  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  border-collapse:collapse;
  border-spacing:0;
  border-bottom: 3px double black;
  margin-bottom: 10%;
  
}
.tg td{
  
    background-color:#00d2cb;
    border-color:inherit;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align:left;
    vertical-align:top;
    padding: 5px;
}
.tg th{
  
    background-color:#34696d;
    border-color:inherit;
    color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align:center;
    vertical-align:top;
}
.tg .tg-0lax{
  
    background-color:#34696d;
    border-color:inherit;
    color:#000000;
  font-family:"Comic Sans MS", cursive, sans-serif;
  text-align:left;
  vertical-align:top
}
.th .tg-0lax{
  
  background-color:#00d2cb;
  border-color:inherit;font-family:"Comic Sans MS", cursive, sans-serif ;
  text-align:center;
  margin: 20px;
  vertical-align:top;
}
.th .tg-0lax{
  
  border-color:inherit;
  text-align:center;
  vertical-align:top
}