.add-synagoge{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3cpath d='M19 250L269 0L362 0L112 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M255.60000000000002 250L505.6 0L582.1 0L332.1 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M521.2 250L771.2 0L1036.7 0L786.7 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M755.8000000000001 250L1005.8000000000001 0L1104.8000000000002 0L854.8000000000001 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M1406 250L1156 0L893.5 0L1143.5 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M1178.4 250L928.4000000000001 0L865.4000000000001 0L1115.4 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M960.8 250L710.8 0L547.3 0L797.3 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M716.1999999999999 250L466.19999999999993 0L118.19999999999993 0L368.19999999999993 250z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3cpath d='M1268.631824106424 250L1440 78.63182410642392L1440 250z' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/path%3e%3cpath d='M0 250L171.36817589357608 250L 0 78.63182410642392z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1018'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1019'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");min-height: 100vh;
}
.add-synagoge h1 {
    margin: 0;
    padding: 1%;
    color:#244e4e ;
    font-weight: bold;
}
.details-inputs input {
    text-align: center;
    padding: 10px 100px;
    background-color: unset;
    margin: 3% 1%;
    margin-bottom: 5%;
    /* border: 3px solid rgba(3, 65, 84, 0.769); */
}
.details-inputs input::placeholder {
    font-weight: bold;
   color: #244e4e;

}
.schedule-inputs input {
    background-color: transparent;
}
.add-synagoge-btn {
    box-shadow:inset 1px 1px 1px 2px #244e4e;
    /* background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); */
    background-color:transparent;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:rgba(9, 56, 56, 0.89);;
    font-size:15px;
    font-weight:bold;
    padding:1% 5%;
    margin-top: -2%;
    text-decoration:none;
    /* text-shadow:0px 1px 0px #ffffff; */
}
@media (max-width: 768px) {

    table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        /* overflow: hidden; */
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
      .details-inputs {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

      }
      .details-inputs input {
        text-align: center;
        padding: 0% 0%;
        background-color: unset;
        margin: 0;
        margin-bottom: 5%;
   width: 30%;
    }
.add-synagoge-btn {
margin: 0%;
}

}